/* css styles for displaying the users based on search functionality */

.searchbar-holder{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
}
.searchbar-holder .searchbar-console{
	justify-content: flex-end;
}
.searchbar-holder .searchbar-console .search-input-txt{
	width: 20em;
	margin-left:910px;
}
.article-txt-data{
	width: 100%;

}

.article-txt-data .writer,
.article-txt-data .posting-date {
    font-size: 0.9em;
    font-style: italic;
}

.article-txt-data .delete-btn-user{
	height: 2em !important;
	margin-left: auto;
	align-self: center;
}

.article-email-text{
	margin-top:30px;
	font-size:15px;
	
}
.article-card-holder .article-card {
    padding: 0.3em 0.3em;
    border-radius:0.3em;
    background-color: rgba(184, 205, 221, 1);
    margin-bottom: 1em; 
    width:70%;
  margin-left:15%;
}

.article-card-holder .article-card .article-card-topheader img {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    border: 2px solid rgba(18, 86, 141, 1);
    padding: 0.1em;
    margin-right: 0.3em;
    align-self: center;
    vertical-align: baseline;
}

 .article-header-txt {
    font-weight: bold;
    margin-left:10px;
}

.article-txt-data .article-brief {
    text-align: justify;
    font-size: 0.9em;
}
    
.user-btn-holder {
   
    margin-left:35%;
    margin-top:-10%;
}
