 /* Author      : Rithika 
   Date        : 19-03-2019
   Description : Css styles for displaying the complaints raised by the user */

.w3-container{
    border-radius: 15px 50px 30px;
}
.article-brief{
    font-family:Calibri;
    font-size:20px;
    margin-left:10%;
    margin-top:-10%;
}
.article-header-txt{
    font-family:Calibri;
    font-size:18px;
    margin-left:10%;
}
.writer{
    font-family:Calibri;
    font-size:18px;
    margin-left:10%;
}
p { margin:1}
button{
    float:right;
    margin-right:15px;
    margin-top:-65px;
}