<!-- Author       : Rithika 
      Date        : 16-03-2019
      Description : Html doc for displaying the complaints raised by the user
-->

<br/>
<div class="w3-container" *ngFor="let complaint of complaintsData"  >
    <div class="w3-card-4" style="width:60%;margin-left: 20%">
      <div class="w3-container" style="background-color:#b8cddd; ">
        <div class='img-holder'>
          <img src="https://cdn4.iconfinder.com/data/icons/instagram-ui-twotone/48/Paul-18-512.png" alt="Avatar" class="w3-left w3-circle w3-margin-right article-img" style="width:80px;margin-top:10px;">
        </div>
        
        <p class='article-brief'><b>{{complaint.by.first_name}}&nbsp;{{complaint.by.first_name}}</b></p>
        <p class='article-header-txt'>{{complaint.body}}</p>
         <p class='writer'>{{complaint.timestamp}}</p>
         <button>Resolve</button>
      </div>
    </div>
    <br/>
  </div>

  
