 /* Author      : Rithika 
   Date        : 16-03-2019
   Description : Css styles for displaying the bulletins */


.w3-container{
    border-radius: 15px 50px 30px;
    margin:3px;
}
.article-brief{
    font-family:Calibri;
    font-size:20px;
    margin-left:10%;
    margin-top:-10%;
}
.article-header-txt{
    font-family:Calibri;
    font-size:18px;
    margin-left:10%;
}
.writer{
    font-family:Calibri;
    font-size:18px;
    margin-left:10%;
}
p { margin:0}
button{
    float:right;
    margin-right:25px;
    margin-top:-35px;
}