<!-- Author      : Rithika 
     Date        : 16-03-2019
     Description : html view for displaying the drives tabs 
 -->

<br/>
<div class="container" id="tabs">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#mydrives">My Drives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#completeddrives">Completed Drives</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="mydrives" class="container tab-pane active"><br />

      <div>
        <div class="article-card-holder">

            <app-my-drives></app-my-drives>
           
        </div>
      </div>



    </div>
    <div id="completeddrives" class="container tab-pane fade"><br />

      <div>
        <div class="article-card-holder">

          <div>
            <app-completed-drives></app-completed-drives>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>