/* Author      : Rithika 
   Date        : 16-03-2019
   Description : Css styles for displaying the articles */

.article-card-holder .article-card {
    padding: 0.3em 0.3em;
    border-radius:0.3em;
    background-color: rgba(184, 205, 221, 1);
    margin-bottom: 1em; 
}

.article-card-holder .article-card .article-card-topheader img {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    border: 2px solid rgba(18, 86, 141, 1);
    padding: 0.1em;
    margin-right: 0.3em;
    align-self: center;
    vertical-align: baseline;
}

 .article-header-txt {
    font-weight: bold;
    font-family: Calibri;
    font-size: 20px;
}


.article-txt-data .posting-date {
    font-size: 0.9em;
    font-style: italic;
}

.article-txt-data .article-brief {
    text-align: justify;
    font-size: 0.9em;
}

.article-txt-data .btn-holder{
    align-self: flex-end;
}
.btn-holder{
    float: right;
}
.article-txt-data .btn-holder .edit-btn,.btn-holder .read-btn{
    margin-right: 0.5em;
}
.allarticle-topbar{
	justify-content: space-between;
	align-items: center;
	width: 100%;
	
	margin-bottom: 0.3em;
}

.searchbar-holder{
    width:100%;
    margin-top:-40px;
    margin-bottom:10px;
}
.searchbar-holder .searchbar-console{
	justify-content: flex-end;
}
.searchbar-holder .searchbar-console .search-input-txt{
	width: 20em;
	margin-left:710px;
}

.create-article-btn{
    width:150px;
    margin-top:10px;
    margin-left:5px;
    margin-bottom:10px;
}
.delete-article-btn{
    width:150px;
    margin-top:10px;
	margin-left:10px;
}
.container{
    font-family: Calibri;
    
}
.article-brief{
    /* align-content: justify; */
    overflow: hidden;
}
.writer {
    font-size: 1.0em;
    font-style: calibri;   
}