<!--
   Author      : Rithika
   Date        : 19-03-2018
   Description : html view styles for displaying all the friends of the user 
-->
   
<br/>
<p id="go_back">
    <a [routerLink]="['/users']" >
    <button>All Users</button>
    </a>
  </p>
  <br/>
  <br/>
<div class="w3-container" *ngFor="let friends of userFriendsData" >
        <div class="w3-card-4" style="width:50%;margin-left: 20%;border-radius: 15px 50px 30px;">
          <div class="w3-container" style="background-color:#b8cddd;height:150px;border-radius: 15px 50px 30px; ">
            <div class='img-holder'>
              <img src="https://cdn4.iconfinder.com/data/icons/instagram-ui-twotone/48/Paul-18-512.png" alt="Avatar" class="w3-left w3-circle w3-margin-right article-img" style="width:80px;margin-top:10px;">
            </div>
         
             <p class='writer'> {{friends.first_name}} &nbsp;{{friends.last_name}}</p>
            <p class='article-brief'>{{friends.bio}}</p>
      
          </div>
         <br/>
        </div>     
       
      </div>
