 <!-- Author           :Rithika
    Date             :15-03-2019
    Description      :Css styles for displaying complete details of the drives -->
 
<div class="container">
  <br />
  <div>
     <h3 id="main">Drive details</h3>
     <p id="go_back">
        <a routerLink="/drives">
        All Drives</a>
     </p>
  </div>
  <br />
  <hr />
  <div class="container">
     <div class="container frame">
        <div class="avatar-flip">
           <div>
              <img class='article-img' src="https://cdn.insideiim.com/wp-content/uploads/2018/01/30183455/Interview.png" width="140" height="140" />
           </div>
        </div>
        <h6 class="h3">{{this.drives.heading}}</h6>
        <p class="h5"><b>BY : </b>{{drives.by.first_name}} {{drives.by.last_name}}</p>
        <p class="h5"><b>POSTED ON : </b>:<span>{{this.drives.timestamp}}</span></p>
        <div class="container" id="tab">
           <ul class="nav nav-tabs">
              <li class="nav-item" class="a1">
                 <a class="nav-link active" data-toggle="tab" href="#description">Description</a>
              </li>
              <li class="nav-item" class="a1">
                 <a class="nav-link" data-toggle="tab" href="#details">Drive&nbsp;Details</a>
              </li>
              <li class="nav-item" class="a1">
                 <a class="nav-link " data-toggle="tab" href="#eligibility">Elegibility&nbsp;Criteria</a>
              </li>
              <li class="nav-item" class="a1">
                 <a class="nav-link" data-toggle="tab" href="#more_info">More&nbsp;Information</a>
              </li>
           </ul>
           <div class="tab-content">
              <div id="description" class="container tab-pane active">
                 <br />
                 <div class="article-card-holder">
                    <br />
                    <p class="drive_brief"> {{this.drives.desc}}</p>
                    <br />
                 </div>
              </div>
              <div id="details" class="container tab-pane fade">
                 <br />
                 <div class="article-card-holder">
                    <p> <b>City : </b> {{this.drives.city}}</p>
                    <p class="drive_brief"> <b>Venue : </b> {{this.drives.where}}</p>
                    <p class="drive_brief"> <b>Date : </b> {{this.drives.when}}</p>
                    <p class="drive_brief"> <b>Time : </b> {{this.drives.exactly}}</p>
                    <p class="drive_brief"> <b>Registration Closes before : </b> {{this.drives.register_before}}</p>
                    <br />
                 </div>
              </div>
              <div id="eligibility" class="container tab-pane fade">
                 <br />
                 <div class="article-card-holder">
                    <p id="drive_brief">{{this.drives.eligibility}}</p>
                    <br />
                    <br />
                 </div>
              </div>
              <div id="more_info" class="container tab-pane fade">
                 <br />
                 <div class="article-card-holder">
                    <p id="drive_brief">{{this.drives.more_information}}</p>
                    <br />
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>